.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.second-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  color: lightgray;
}

.downloadButton {
  width: 150px;
  border: 1px solid blue;
  border-radius: 30px;
  background-color: white;
  color: blue;
  padding: 10px !important;
}

.newButton {
  height: 30px;
  border: 0;
  border-radius: 3px;
  width: 100px;
  margin-right: 20px;
}

.cardList {
  padding: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

img {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid lightgray;
  border-radius: 50%;
  margin: 0;
}
