.main {
  width: 250px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  text-align: left;
  width: 33%;
}

p {
  font-size: 14px;
}

.icon {
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  
  .item {
 
    width: 100%;
  }

}